<html>
  <head>
  <style>
  body{
    background: yellow;
  }
  </style>
  </head>
  <body>
     <table>
  <tr>
    <th>Id </th>
    <th>Task_Details</th>
    <th>Status</th>
  </tr>
  </table>
      <h3><%=db.execute('SELECT * FROM Tasks')%></h3>
     
      <a href='/'>back</p>
  </body>
</html>
