<html>
  <head>
  <style>
  body{
    background: yellow;
  }
  </style>
  </head>
  <body>
  <iframe src="/result" height="480" width="360"></iframe>
      <form action='delete' method='post'>
            <p>Task_Id_To_Delete</p>
             <input type="text" name="id"><br>
                <input type="submit" value="Id!">
    </form>
   <a href='/'>Go back </a><br>
   <a href='/result'>See Remaining Tasks </a>
  </body>
</html>
