<html>
  <head>
  <style>
  body{
    background: pink;
  }
  </style>
  </head>
  </body>
     <p> What do you want to do?<br>
        <a href="/add"> Add a task<br></a>
        <a href="/result"> See all task<br></a>
        <a href="/delete"> Del a task<br></a>
        <a href="/search"> Select a specific task<br></a>
        <a href="/completed"> Completed Task <br></a>
        <a href="/all"> Incomplete a task and Completed a task<br></a>

    </p>
      
  </body>
</html>
