<html>
  <head>
  <style>
  body{
    background: pink;
  }
  </style>
  </head>
  </body>
     <h1> What do you want to do?</h1><h2>
        <a href="/add"> Add a task<br></a>
        <a href="/result"> See all task<br></a>
        <a href="/delete"> Del a task<br></a>
        <a href="/search"> Select a specific task<br></a>
        <a href="/completed"> Update Task Status <br></a>
        <a href="/all"> Incomplete a task and Completed a task<br></a>
        

    </p>
      
  </body>
</html>
