<html>
  <head>
  <style>
  body{
    background: pink;
  }
  </style>
  </head>
  </body>
     <p> What do you want to do?<br>
        <a href="/add"> Add a task<br></a>
        <a href="/result"> see all task<br></a>
        <a href="/add"> del a task<br></a>
        <a href="/add"> Add a task<br></a>
        <a href="/add"> Incomplete a task<br></a>
        <a href="/add"> Complete a task<br></a>

    </p>
      
  </body>
</html>
