<html>
  <head>
  </head>
  <body>
     <p> What do you want to do?<br>
        1. Add a task<br>
        2. See all tasks<br>
        3. See a specific task<br>
        4. Mark a task as finished<br>
        5. Remove a task<br>
        6. All the Completed Tasks<br>
        7.All the Incomplete Tasks<br>
        8.Exit
</p>
<p>Entered Choice : <%=input%></p>
    <form>
      <input type="text" name="choice">
      <input type="submit" value="choice!">
    </form>
    
    
  </body>
</html>
