<html>
  <head>
  <style>
  body{
    background: yellow;
  }
  </style>
  </head>
  <body>
      <h1>All The Data</h1>
      <h2>Task NO,Task_Details,Status</h2>
      <h3>Not Completed Tasks</h3>
      <p><%=db.execute('SELECT * FROM Tasks WHERE Status = ? ', '0')%></p>
     <h3>Completed Tasks</h3>
      <p><%=db.execute('SELECT * FROM Tasks WHERE Status = ? ', '1')%></p>
      <a href='/'>back</p>
  </body>
</html>
