<html>
  <head>
  <style>
  body{
    background: green;
  }
  </style>
  </head>
  <body>
      <form action='add' method='post'><p>Task Description</p>
     
            <p>Task_Details</p>
             <input type="text" name="task"><br>
             <p>Status</p>
              <input type="text" name="status" value='Not Completed'><br>

              <input type="submit" value="Task!">
    </form>
<a href='/'>Go back </a><br>
   
  </body>
</html>
