<html>
  <head>
  <style>
  body{
    background: yellow;
  }
  </style>
  </head>
  <body>
      <form>
              <input type="text" name="task">
              <input type="submit" value="task!">
    </form>
   <p><%=value%></p>
  </body>
</html>
